p {
    color: blue;
    background-color: yellow;
  }
.asteroid.b329.big {
    color: blue;
    font-weight: bold;
  }

.asteroid.b326 {
    border: 1px solid green;
    font-weight: bold;
    width: 250px;
  }

  #b325 {
    border: 1px solid green;
    font-weight: bold;
    width: 250px;
  }